$main_color:#333 ;

$bg_main_color:#1a1a1a;

$Second_color: #D43F52;

$Second_color_alpha:#d43f5282;

$bg_white:#fff;

//classes
.main-color{
    color: #D43F52;
}
.main-decoration{
    text-decoration: underline;
}